<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title> Supervisor Allocator</title>
</head>

<body>
    <!-- <div class="logo">
        <img src="../images/crutechLogo.jpg" alt="CRUTECH LOGO">
        <img src="../images/cscLogo.jpg" alt="Computer Science Logo" id="img">
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top" style="color: white;">
        <img src="../images/cscLogo.jpg" alt="C.Sc" id="img">
        <a class="navbar-brand" href="/" style="color: white; font-size:xx-large; font-weight:bolder; margin-left:20px">Project Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="#" style="color: white;"><i
                              class="fa fa-home"></i>Home
                    </a>
                </li>
                <li class="nav-item dropdown pulled-right" style="margin-right: 20px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;"><i
                              class="fa fa-user"></i>
                        User Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/adm">Add Suppervisor</a>
                        <a class="dropdown-item" href="/registerproject">Student Registration</a>
                        <!-- <a class="dropdown-item" href="/projectsupervisor">My Project Supervisor</a> -->
                        <!-- <a class="dropdown-item" href="">Sign up</a> -->
                    </div>
                </li>

        </div>
        <img src="../images/crutechLogo.jpg" alt="CRUTECH LOGO">
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="jumbotron">
                    <table class="table table-hover">
                        <thead>
                            <h1>Calender of Activities</h1>
                            <tr>
                                <th>S/N</th>
                                <th>Activity</th>
                                <th>Date/Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Student/Supervisor Registration</td>
                                <td>[DATE] / [DURATION]</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Student's finger-print capturing / Allocating of project supervisors</td>
                                <td>[DATE] / [DURATION]</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Submission of project topics to supervisor for approval</td>
                                <td>[DATE] / [DURATION]</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Supervisor adopt/modify/reject a project topic (title)</td>
                                <td>[DATE] / [DURATION]</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Publication of students' project topics and supervisor</td>
                                <td>[DATE] / [DURATION]</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Project coordinator send announcements relating to projects to students/supervisor</td>
                                <td>[DATE] / [DURATION]</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Project Reports</td>
                                <td>[DATE] / [DURATION]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- <div class="col-4">
                <div class="img__wrap">
                    <img src="../images/csc1.jpg" alt="">
                    <div class="img__description container">
                        <p>C.Sc Final year project registration</p>
                        <p>Kindly submit your 3(three) selected project topics for approval!</p>
                        <div class="container">
                            <button style="background-color: whitesmoke; color: teal;"><a href="/registerproject" style="text-decoration: none;">Submit Now</a></button>
                            <p>Have you submitted? Then check for your apporved topic <a href="/projectsupervisor" style="text-decoration: none;">here</a></p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-4">
                <div class="img__wrap">
                    <img src="../images/csc2.jpg" alt="">
                    <div class="img__description container">
                        <p>C.Sc Final year project registration</p>
                        <p>Kindly submit your 3(three) selected project topics for approval!</p>
                        <div class="container">
                            <button style="background-color: whitesmoke; color: teal;"><a href="/submittopcs" style="text-decoration: none;">Submit Now</a></button>
                            <p>Have you submitted? Then check for your apporved topic <a href="/projectsupervisor" style="text-decoration: none;">here</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="img__wrap">
                    <img src="../images/csc3.jpg" alt="">
                    <div class="img__description container">
                        <p>C.Sc Final year project registration</p>
                        <p>Kindly submit your 3(three) selected project topics for approval!</p>
                        <div class="container">
                            <button style="background-color: whitesmoke; color: teal;"><a href="/submittopcs" style="text-decoration: none;">Submit Now</a></button>
                            <p>Have you submitted? Then check for your apporved topic <a href="/projectsupervisor" style="text-decoration: none;">here</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="img__wrap">
                    <img src="../images/csc4.jpg" alt="">
                    <div class="img__description container">
                        <p>C.Sc Final year project registration</p>
                        <p>Kindly submit your 3(three) selected project topics for approval!</p>
                        <div class="container">
                            <button style="background-color: whitesmoke; color: teal;"><a href="/submittopcs" style="text-decoration: none;">Submit Now</a></button>
                            <p>Have you submitted? Then check for your apporved topic <a href="/projectsupervisor" style="text-decoration: none;">here</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="img__wrap">
                    <img src="../images/csc5.jpg" alt="">
                    <div class="img__description container">
                        <p>C.Sc Final year project registration</p>
                        <p>Kindly submit your 3(three) selected project topics for approval!</p>
                        <div class="container">
                            <button style="background-color: whitesmoke; color: teal;"><a href="/submittopcs" style="text-decoration: none;">Submit Now</a></button>
                            <p>Have you submitted? Then check for your apporved topic <a href="/projectsupervisor" style="text-decoration: none;">here</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>












    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>